.movie-container {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  position: relative;
  margin: 0px 20px 0px 20px;
}

.title {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 224px;
}

.genre {
  font-size: 18px;
  width: 224px;
}

.movie {
  width: 224px;
  height: 283px;
  margin-bottom: 24px;
}

.nav {
  font-size: 32px;
}

.heart {
  position: absolute;
  right:8px;
  top: 8px;
  font-size:24px;
}

.play {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 39%;
  left: 50%;
  font-size:40px;
}
